@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css");
@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-R";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: keep-all;
}

html {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

body {
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  font-family: "NanumSquare";
}

h1, h2, h3, h4, h5, p, figure {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #333;
}

input, textarea {
  border: 0;
}

::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 0 auto;
  width: 100%;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 115px;
}
header .header .logo a {
  color: white;
  font-family: "Baloo Bhaijaan 2";
  font-size: 35px;
  font-weight: 500;
}
header .header .header-rig {
  display: flex;
  justify-content: space-between;
}
header .header .header-rig .bug {
  width: 40px;
  height: 25px;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
header .header .header-rig .bug span {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  transition: 0.5s;
}
header .header .header-rig .bug span:nth-of-type(1) {
  top: 0;
}
header .header .header-rig .bug span:nth-of-type(2) {
  top: 50%;
}
header .header .header-rig .bug span:nth-of-type(3) {
  top: 100%;
}
header .header .header-rig .bug.active span:nth-of-type(1) {
  top: 50%;
  rotate: 45deg;
}
header .header .header-rig .bug.active span:nth-of-type(2) {
  top: 50%;
  opacity: 0;
}
header .header .header-rig .bug.active span:nth-of-type(3) {
  top: 50%;
  rotate: -45deg;
}

.nav-bg .nav-menu00 {
  position: relative;
  width: 100%;
  z-index: 11;
  transform: translateX(300%);
  transition: 0.5s;
}
.nav-bg .nav-menu00 .nav-menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 572px;
  height: 100vh;
  background-color: rgba(243, 234, 214, 0.93);
  padding: 0 0 0 127px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.nav-bg .nav-menu00 .nav-menu > a {
  display: inline-block;
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav-bg .nav-menu00 .nav-menu > a p {
  font-family: "NanumSquareBold";
  font-size: 28px;
  color: #333;
  margin-right: 15px;
}
.nav-bg .nav-menu00 .nav-menu > a span {
  font-family: "NanumSquare";
  font-size: 14px;
  letter-spacing: -2%;
  color: #333;
}
.nav-bg .nav-menu00 .nav-menu div {
  margin: 50px 0;
}
.nav-bg .nav-menu00 .nav-menu div > a:nth-of-type(1) {
  display: inline-block;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 17px;
}
.nav-bg .nav-menu00 .nav-menu div > a:nth-of-type(1) p {
  font-family: "NanumSquareBold";
  font-size: 28px;
  color: #333;
  margin-right: 15px;
}
.nav-bg .nav-menu00 .nav-menu div > a:nth-of-type(1) span {
  font-family: "NanumSquare";
  font-size: 14px;
  letter-spacing: -2%;
  color: #333;
}
.nav-bg .nav-menu00 .nav-menu div .nav-menu-roomNum a {
  margin-right: 20px;
}
.nav-bg .nav-menu00 .nav-menu div > a:nth-of-type(3) {
  margin: 0 20px;
}

.nav-menu00.active {
  transform: translateX(0%);
}

header.active {
  transform: translateY(-100%);
}

header.menu-open {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  background-color: #E4D7BD;
}
footer .footer {
  width: 1400px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}
footer .footer .footer-left h3 a {
  color: #999F54;
  font-family: "Baloo Bhaijaan 2";
  font-size: 30px;
  font-weight: 500;
}
footer .footer .footer-left .footer-text1 {
  font-size: 14px;
  margin: 29px 0 52px 0;
}
footer .footer .footer-left .footer-text1 p {
  margin-bottom: 13px;
}
footer .footer .footer-left .footer-text1 p img {
  width: 12px;
}
footer .footer .footer-left .footer-text1 p:nth-of-type(2) {
  display: inline;
}
footer .footer .footer-left .footer-text1 p:nth-of-type(3) {
  display: inline;
}
footer .footer .footer-left .footer-text1 p:nth-of-type(4) {
  margin-top: 13px;
}
footer .footer .footer-left .footer-text2 p {
  font-size: 14px;
}
footer .footer .footer-rig {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
footer .footer .footer-rig .footer-menu a {
  padding-left: 43px;
  font-size: 14px;
}
footer .footer .footer-rig .footer-icon a {
  margin-left: 13px;
}
footer .footer .footer-rig .footer-icon a img {
  width: 20px;
}

@media (min-width: 1025px) and (max-width: 1500px) {
  header .header {
    padding: 25px 5%;
  }
  footer .footer {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .header {
    padding: 25px 50px;
  }
  footer .footer {
    width: 90%;
    padding: 80px 0;
  }
  footer .footer .footer-rig .footer-menu a {
    display: block;
    padding-bottom: 7px;
    text-align: right;
  }
  footer .footer .footer-rig .footer-icon a {
    margin-left: 13px;
  }
  footer .footer .footer-rig .footer-icon a img {
    width: 20px;
  }
}
@media (max-width: 767px) {
  header .header {
    padding: 1.5% 5%;
  }
  header .header .logo a {
    font-size: 20px;
  }
  header .header .header-rig .bug {
    width: 25px;
    height: 15px;
  }
  .nav-bg .nav-menu00 {
    transform: translateX(200%);
  }
  .nav-bg .nav-menu00 .nav-menu {
    width: 100%;
    padding: 0 0 0 50px;
    background-color: rgba(243, 234, 214, 0.95);
  }
  .nav-menu00.active {
    transform: translateX(0%);
  }
  header.active {
    transform: translateY(-100%);
  }
  footer {
    background-color: #E4D7BD;
  }
  footer .footer {
    width: 90%;
    display: block;
    padding: 50px 0;
  }
  footer .footer .footer-left h3 a {
    font-size: 20px;
  }
  footer .footer .footer-left .footer-text1 {
    margin: 20px 0 20px 0;
  }
  footer .footer .footer-rig {
    display: block;
  }
  footer .footer .footer-rig .footer-menu a {
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
    padding-right: 15px;
  }
  footer .footer .footer-rig .footer-icon a {
    margin-left: 0;
    margin-right: 13px;
  }
}
.wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: #ECEBC2;
}

.swiper-pagination-bullet-active {
  background-color: #999F54;
}

.mb_reserv {
  display: none;
}

.user_top, .calender_top, .reserv03_check_top, .room_select_top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 5px 28px;
  background-color: #999F54;
  border-radius: 16px 16px 0 0;
  text-align: center;
}
.user_top h3, .calender_top h3, .reserv03_check_top h3, .room_select_top h3 {
  color: #FFF8EB;
  font-weight: normal;
}

.close {
  width: 12px;
  height: 12px;
  background: url(../img/reserv/reserv_X_01.svg) 0 0/cover no-repeat;
}

.reserve_popupbar {
  position: relative;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: 0 auto;
}
.reserve_popupbar .reserve_popupbar_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve_popupbar .reserve_popupbar_flex .left {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 100px;
}
.reserve_popupbar .reserve_popupbar_flex .left .room_name {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}
.reserve_popupbar .reserve_popupbar_flex .left .room_list {
  display: none;
  position: absolute;
  background-color: white;
  top: -225px;
  left: -12px;
  z-index: 99;
  padding: 10px;
}
.reserve_popupbar .reserve_popupbar_flex .left .room_list p {
  padding: 5px 0;
  font-weight: normal !important;
}
.reserve_popupbar .reserve_popupbar_flex .left .room_list.active {
  display: block;
}
.reserve_popupbar .reserve_popupbar_flex .left .room_name > h3 {
  grid-column: 1/3;
}
.reserve_popupbar .reserve_popupbar_flex .left .room_name > p {
  grid-column: 1/2;
}
.reserve_popupbar .reserve_popupbar_flex .left .room_name > .room_select {
  grid-column: 2/3;
  margin-left: 15px;
}
.reserve_popupbar .reserve_popupbar_flex .left .line {
  border-right: 1px solid #6f6f6f;
  padding: 0 78px;
}
.reserve_popupbar .reserve_popupbar_flex .left .line h3 {
  font-size: 14px;
  font-weight: normal;
}
.reserve_popupbar .reserve_popupbar_flex .left .line p {
  font-size: 1.25rem;
  font-weight: bold;
}
.reserve_popupbar .reserve_popupbar_flex .left .line .room_select {
  width: 11px;
  height: 6px;
  background: url(../img/reserv/reserv_drop.svg) 0 0/cover no-repeat;
}
.reserve_popupbar .reserve_popupbar_flex .left .adult, .reserve_popupbar .reserve_popupbar_flex .left .children {
  text-align: center;
}
.reserve_popupbar .reserve_popupbar_flex .left .children {
  border: none;
}
.reserve_popupbar .reserve_popupbar_flex .right {
  height: 100px;
}
.reserve_popupbar .reserve_popupbar_flex .right a {
  display: block;
  font-size: 1.5rem;
  padding: 32px 91px;
  font-weight: bold;
  color: #333;
  background-color: #F3EAD6;
}
.reserve_popupbar .user {
  display: none;
  position: absolute;
  left: 698px;
  bottom: 108px;
  width: 250px;
  z-index: 1;
}
.reserve_popupbar .user h3::before {
  content: url(../img/reserv/reserv_uesr_01.svg);
  display: inline-block;
  font-size: 0px;
  vertical-align: middle;
  margin-right: 36px;
}
.reserve_popupbar .user .plus_btn {
  width: 26px;
  height: 26px;
  background: url(../img/reserv/reserv_icoPlusBtn.svg) 0 0/cover no-repeat;
}
.reserve_popupbar .user .minus_btn {
  width: 26px;
  height: 26px;
  background: url(../img/reserv/reserv_icoMinusBtn.svg) 0 0/cover no-repeat;
}
.reserve_popupbar .user .user_1 {
  border: 1px solid #999F54;
  border-radius: 0 0 16px 16px;
  background-color: #fff;
  padding: 20px 33px;
}
.reserve_popupbar .user .user_1 .user_btn {
  text-align: center;
}
.reserve_popupbar .user .user_1 .user_btn a {
  background-color: #ECEBC2;
  border-radius: 20px;
  padding: 13px 27px;
}
.reserve_popupbar .user .user_adult, .reserve_popupbar .user .user_children {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.reserve_popupbar .user .user_adult p:nth-of-type(2), .reserve_popupbar .user .user_children p:nth-of-type(2) {
  font-size: 0.7rem;
}
.reserve_popupbar .user .button_num {
  width: 90px;
  display: flex;
  justify-content: space-between;
}
.reserve_popupbar .user.active {
  display: block;
}
.reserve_popupbar .calender {
  display: none;
  position: absolute;
  left: 19.6%;
  bottom: 109px;
  width: 500px;
  z-index: 1;
}
.reserve_popupbar .calender > div {
  width: 100%;
}
.reserve_popupbar .calender > div img {
  position: absolute;
  top: 42.8%;
  left: 29.8%;
  width: 39.9%;
}
.reserve_popupbar .calender h3::before {
  content: url(../img/reserv/reserv_date_01.svg);
  display: inline-block;
  font-size: 0px;
  vertical-align: middle;
  margin-right: 170px;
}
.reserve_popupbar .calender .calender_flex {
  border: 1px solid #999F54;
  border-radius: 0 0 16px 16px;
  background-color: #fff;
  padding: 20px 33px;
}
.reserve_popupbar .calender.active {
  display: block;
}

main .main_img {
  position: relative;
}
main .main_img .swip {
  height: 100vh;
}
main .main_img .swip .mySwiper {
  width: 100%;
  height: 100%;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide {
  position: relative;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide.swiper-slide-active span {
  animation: blink 0.5s 1 alternate forwards;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 80px;
  font-family: "Baloo Bhaijaan 2";
  font-weight: bold;
  color: white;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 div {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 div span {
  opacity: 0;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 div:nth-of-type(1) {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-58%, -50%);
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 div:nth-of-type(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 div:nth-of-type(3) {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-53%, -50%);
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 80px;
  font-family: "Baloo Bhaijaan 2";
  font-weight: bold;
  color: white;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 div {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 div span {
  opacity: 0;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 div:nth-of-type(1) {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-59%, -50%);
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 div:nth-of-type(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 div:nth-of-type(3) {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-44%, -50%);
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 80px;
  font-family: "Baloo Bhaijaan 2";
  font-weight: bold;
  color: white;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 div {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 div span {
  opacity: 0;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 div:nth-of-type(1) {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-54%, -50%);
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 div:nth-of-type(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 div:nth-of-type(3) {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-48%, -50%);
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 80px;
  font-family: "Baloo Bhaijaan 2";
  font-weight: bold;
  color: white;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 div {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 div span {
  opacity: 0;
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 div:nth-of-type(1) {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-53.5%, -50%);
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 div:nth-of-type(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 div:nth-of-type(3) {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-40%, -50%);
}
main .roomlist {
  width: 1400px;
  margin: 200px auto 100px;
}
main .roomlist .room_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}
main .roomlist .room_top .text h3 {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  font-size: 24px;
  color: #A66D45;
  margin-bottom: 7px;
}
main .roomlist .room_top .text p {
  line-height: 24px;
  letter-spacing: -2%;
}
main .roomlist .room_top .btn a {
  font-family: "HakgyoansimDunggeunmisoTTF-R";
  font-size: 16px;
  color: #A66D45;
}
main .roomlist .room_img {
  display: flex;
  justify-content: start;
  align-items: center;
}
main .roomlist .room_img li {
  position: relative;
  overflow: hidden;
  transition: 0.8s;
  width: 350px;
}
main .roomlist .room_img li p {
  position: relative;
  filter: brightness(1);
}
main .roomlist .room_img li p img {
  width: 350px;
}
main .roomlist .room_img li p span:nth-of-type(1) {
  position: absolute;
  left: 20px;
  top: 25px;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  font-size: 20px;
  color: #fff;
  text-shadow: 5px 5px 10px rgba(125, 125, 125, 0.2);
}
main .roomlist .room_img li p:hover {
  cursor: pointer;
  filter: brightness(0.75);
}
main .roomlist .room_img li > div {
  position: absolute;
  z-index: 2;
  left: 350px;
  top: 0;
  width: 700px;
  height: 455px;
  background-color: rgba(255, 248, 235, 0.95);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 63px;
}
main .roomlist .room_img li > div .hov_text {
  width: 100%;
  display: flex;
  gap: 12px;
}
main .roomlist .room_img li > div .hov_text span {
  display: inline-block;
  line-height: 27px;
  color: #333;
}
main .roomlist .room_img li > div .hov_text .hov_left > span {
  display: block;
}
main .roomlist .room_img li > div b {
  display: block;
  margin-top: 30px;
  font-family: "NanumSquareBold";
  font-size: 30px;
  color: #555;
}
main .roomlist .room_img li.active {
  flex-shrink: 0;
  width: 1050px;
}
main .section3 {
  background-color: #FFF8EB;
  height: 400vh;
}
main .section3 .special {
  width: 1400px;
  height: 100vh;
  margin: 0 auto;
  padding: 3% 0;
}
main .section3 .special .special_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}
main .section3 .special .special_top .text h3 {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  font-size: 24px;
  color: #A66D45;
  margin-bottom: 7px;
}
main .section3 .special .special_top .text p {
  line-height: 24px;
  letter-spacing: -2%;
}
main .section3 .special .special_top .btn a {
  font-family: "HakgyoansimDunggeunmisoTTF-R";
  font-size: 16px;
  color: #A66D45;
}
main .section3 .special .special_con {
  position: relative;
  width: 100%;
}
main .section3 .special .special_con li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
main .section3 .special .special_con li:nth-of-type(1) {
  z-index: 3;
}
main .section3 .special .special_con li:nth-of-type(2) {
  z-index: 2;
}
main .section3 .special .special_con li:nth-of-type(3) {
  z-index: 1;
}
main .section3 .special .special_con li .con1_text {
  opacity: 0;
}
main .section3 .special .special_con li .con_img {
  width: 1400px;
  overflow: hidden;
}
main .section3 .special .special_con li .con_img img {
  width: 100%;
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
main .section3 .special .special_con li div {
  width: 1400px;
  opacity: 0;
}
main .section3 .special .special_con li div b {
  display: block;
  margin: 50px 0 23px;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  font-size: 20px;
  color: #566418;
}
main .section3 .special .special_con li div p {
  line-height: 24px;
  letter-spacing: -2%;
}
main .section3 .special .special_con li div p:nth-of-type(2) {
  margin-top: 15px;
}
main .tour {
  width: 1400px;
  margin: 0 auto;
  padding: 125px 0;
}
main .tour .tour_slider .tour_top {
  position: relative;
}
main .tour .tour_slider .tour_top .text {
  position: absolute;
  left: 0;
  top: 0;
}
main .tour .tour_slider .tour_top .text h3 {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  font-size: 24px;
  color: #A66D45;
  margin-bottom: 7px;
}
main .tour .tour_slider .tour_top .text p {
  line-height: 24px;
  letter-spacing: -2%;
}
main .tour .tour_slider .tour_con00 {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
main .tour .tour_slider .tour_con00 .tour_left_text {
  width: 45%;
  position: relative;
}
main .tour .tour_slider .tour_con00 .tour_left_text .tour_content {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_title {
  display: block;
  font-family: "NanumSquareBold";
  font-size: 20px;
  color: #566418;
  margin-bottom: 20px;
}
main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_text {
  line-height: 28px;
}
main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_text img {
  width: 12px;
}
main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_tag {
  margin: 15px 0 20px;
}
main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_button {
  display: inline-block;
  font-family: "NanumSquareBold";
  font-size: 20px;
  color: #333;
  padding: 18px 40px;
  background-color: #ECEBC2;
}
main .tour .tour_slider .tour_con00 .tour_left_text .t_con0 {
  opacity: 1;
  transform: translateY(0);
  display: block;
}
main .tour .tour_slider .tour_con00 .tour-mySwiper {
  width: 55%;
}
main .tour .tour_slider .tour_con00 .tour-mySwiper .swiper-wrapper .swiper-slide {
  height: 593px;
  overflow: hidden;
}
main .tour .tour_slider .tour_con00 .tour-mySwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1025px) and (max-width: 1500px) {
  .user_top, .calender_top, .reserv03_check_top, .room_select_top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 5px 28px;
    background-color: #999F54;
    border-radius: 16px 16px 0 0;
    text-align: center;
  }
  .user_top h3, .calender_top h3, .reserv03_check_top h3, .room_select_top h3 {
    color: #FFF8EB;
    font-weight: normal;
  }
  .close {
    width: 12px;
    height: 12px;
    background: url(../img/reserv/reserv_X_01.svg) 0 0/cover no-repeat;
  }
  .reserve_popupbar {
    position: relative;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
    margin: 0 auto;
  }
  .reserve_popupbar .reserve_popupbar_flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reserve_popupbar .reserve_popupbar_flex .left {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 100px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_name {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_list {
    display: none;
    position: absolute;
    top: -225px;
    left: -12px;
    z-index: 99;
    padding: 10px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_list p {
    padding: 5px 0;
    font-weight: normal !important;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_list.active {
    display: block;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_name > h3 {
    grid-column: 1/3;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_name > p {
    grid-column: 1/2;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_name > .room_select {
    grid-column: 2/3;
    margin-left: 15px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .line {
    border-right: 1px solid #6f6f6f;
    padding: 0 26px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .line h3 {
    font-size: 14px;
    font-weight: normal;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .line p {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .line .room_select {
    width: 11px;
    height: 6px;
    background: url(../img/reserv/reserv_drop.svg) 0 0/cover no-repeat;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .adult, .reserve_popupbar .reserve_popupbar_flex .left .children {
    text-align: center;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .children {
    border: none;
  }
  .reserve_popupbar .reserve_popupbar_flex .right {
    height: 100px;
  }
  .reserve_popupbar .reserve_popupbar_flex .right a {
    height: 100%;
    display: block;
    font-size: 1.4rem;
    padding: 33.2px 65px;
    color: #333;
    background-color: #F3EAD6;
  }
  .reserve_popupbar .user {
    display: none;
    position: absolute;
    left: 698px;
    bottom: 108px;
    width: 250px;
    z-index: 1;
  }
  .reserve_popupbar .user h3::before {
    content: url(../img/reserv/reserv_uesr_01.svg);
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    margin-right: 36px;
  }
  .reserve_popupbar .user .plus_btn {
    width: 26px;
    height: 26px;
    background: url(../img/reserv/reserv_icoPlusBtn.svg) 0 0/cover no-repeat;
  }
  .reserve_popupbar .user .minus_btn {
    width: 26px;
    height: 26px;
    background: url(../img/reserv/reserv_icoMinusBtn.svg) 0 0/cover no-repeat;
  }
  .reserve_popupbar .user .user_1 {
    border: 1px solid #999F54;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    padding: 20px 33px;
  }
  .reserve_popupbar .user .user_1 .user_btn {
    text-align: center;
  }
  .reserve_popupbar .user .user_1 .user_btn a {
    background-color: #ECEBC2;
    border-radius: 20px;
    padding: 13px 27px;
  }
  .reserve_popupbar .user .user_adult, .reserve_popupbar .user .user_children {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .reserve_popupbar .user .user_adult p:nth-of-type(2), .reserve_popupbar .user .user_children p:nth-of-type(2) {
    font-size: 0.7rem;
  }
  .reserve_popupbar .user .button_num {
    width: 90px;
    display: flex;
    justify-content: space-between;
  }
  .reserve_popupbar .user.active {
    display: block;
  }
  .reserve_popupbar .calender {
    display: none;
    position: absolute;
    left: 315px;
    bottom: 109px;
    width: 500px;
    z-index: 1;
  }
  .reserve_popupbar .calender h3::before {
    content: url(../img/reserv/reserv_date_01.svg);
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    margin-right: 170px;
  }
  .reserve_popupbar .calender .calender_flex {
    border: 1px solid #999F54;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    padding: 20px 33px;
  }
  .reserve_popupbar .calender.active {
    display: block;
  }
  main .roomlist {
    width: 90%;
    margin: 200px auto 100px;
  }
  main .roomlist .room_img li {
    width: 50%;
  }
  main .roomlist .room_img li > div {
    left: 350px;
    top: 0;
    width: 70%;
    height: 455px;
    padding: 0 40px 0 40px;
  }
  main .roomlist .room_img li > div .hov_text {
    width: 90%;
    display: flex;
    gap: 12px;
  }
  main .roomlist .room_img li.active {
    flex-shrink: 0;
    width: 100%;
  }
  main .section3 .special {
    width: 90%;
  }
  main .section3 .special .special_con li .con_img {
    width: 100%;
    height: auto;
  }
  main .section3 .special .special_con li div {
    width: 100%;
  }
  main .tour {
    width: 90%;
  }
  main .tour .tour_slider .tour_top {
    position: relative;
  }
  main .tour .tour_slider .tour_top .text {
    position: absolute;
    left: 0;
    top: 0;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text {
    width: 45%;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text .tour_content {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_title {
    display: block;
    font-family: "NanumSquareBold";
    font-size: 20px;
    color: #566418;
    margin-bottom: 20px;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_text {
    line-height: 28px;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_text img {
    width: 12px;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_tag {
    margin: 15px 0 20px;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_button {
    display: inline-block;
    font-family: "NanumSquareBold";
    font-size: 20px;
    color: #333;
    padding: 18px 40px;
    background-color: #ECEBC2;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text .t_con0 {
    opacity: 1;
    transform: translateY(0);
    display: block;
  }
  main .tour .tour_slider .tour_con00 .tour-mySwiper {
    width: 55%;
  }
  main .tour .tour_slider .tour_con00 .tour-mySwiper .swiper-wrapper .swiper-slide {
    height: auto;
    overflow: hidden;
  }
  main .tour .tour_slider .tour_con00 .tour-mySwiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .user_top, .calender_top, .reserv03_check_top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 5px 28px;
    background-color: #999F54;
    border-radius: 16px 16px 0 0;
    text-align: center;
  }
  .user_top h3, .calender_top h3, .reserv03_check_top h3 {
    color: #FFF8EB;
    font-weight: normal;
  }
  .close {
    width: 12px;
    height: 12px;
    background: url(../img/reserv/reserv_X_01.svg) 0 0/cover no-repeat;
  }
  .reserve_popupbar {
    position: relative;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
    margin: 0 auto;
  }
  .reserve_popupbar .reserve_popupbar_flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reserve_popupbar .reserve_popupbar_flex .left {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 100px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_name {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_list {
    display: none;
    position: absolute;
    top: -204px;
    left: -12px;
    background-color: #fff;
    padding: 10px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_list p {
    padding: 5px 0;
    font-weight: normal !important;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_list.active {
    display: block;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_name > h3 {
    grid-column: 1/3;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_name > p {
    grid-column: 1/2;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .room_name > .room_select {
    grid-column: 2/3;
    margin-left: 15px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .line {
    border-right: 1px solid #6f6f6f;
    padding: 0 35px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .line h3 {
    font-size: 0.875rem;
    font-weight: normal;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .line p {
    font-size: 1rem;
    font-weight: bold;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .line .room_select {
    width: 11px;
    height: 6px;
    background: url(../img/reserv/reserv_drop.svg) 0 0/cover no-repeat;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .adult, .reserve_popupbar .reserve_popupbar_flex .left .children {
    text-align: center;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .children {
    border: none;
  }
  .reserve_popupbar .reserve_popupbar_flex .right {
    height: 100px;
  }
  .reserve_popupbar .reserve_popupbar_flex .right a {
    display: block;
    font-size: 1rem;
    padding: 38px 49px;
    color: #333;
    background-color: #F3EAD6;
  }
  .reserve_popupbar .user {
    display: none;
    position: absolute;
    left: 477px;
    bottom: 109px;
    width: 250px;
    z-index: 1;
  }
  .reserve_popupbar .user h3::before {
    content: url(../img/reserv/reserv_uesr_01.svg);
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    margin-right: 36px;
  }
  .reserve_popupbar .user .plus_btn {
    width: 26px;
    height: 26px;
    background: url(../img/reserv/reserv_icoPlusBtn.svg) 0 0/cover no-repeat;
  }
  .reserve_popupbar .user .minus_btn {
    width: 26px;
    height: 26px;
    background: url(../img/reserv/reserv_icoMinusBtn.svg) 0 0/cover no-repeat;
  }
  .reserve_popupbar .user .user_1 {
    border: 1px solid #999F54;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    padding: 20px 33px;
  }
  .reserve_popupbar .user .user_1 .user_btn {
    text-align: center;
  }
  .reserve_popupbar .user .user_1 .user_btn a {
    background-color: #ECEBC2;
    border-radius: 20px;
    padding: 13px 27px;
  }
  .reserve_popupbar .user .user_adult, .reserve_popupbar .user .user_children {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .reserve_popupbar .user .user_adult p:nth-of-type(2), .reserve_popupbar .user .user_children p:nth-of-type(2) {
    font-size: 0.7rem;
  }
  .reserve_popupbar .user .button_num {
    width: 90px;
    display: flex;
    justify-content: space-between;
  }
  .reserve_popupbar .user.active {
    display: block;
  }
  .reserve_popupbar .calender {
    display: none;
    position: absolute;
    left: 179px;
    bottom: 109px;
    width: 522px;
    z-index: 1;
  }
  .reserve_popupbar .calender h3::before {
    content: url(../img/reserv/reserv_date_01.svg);
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    margin-right: 180px;
  }
  .reserve_popupbar .calender.active {
    display: block;
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 div:nth-of-type(1) {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-58%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 div:nth-of-type(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 div:nth-of-type(3) {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-53%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 div:nth-of-type(1) {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-59%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 div:nth-of-type(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 div:nth-of-type(3) {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-44%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 div:nth-of-type(1) {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-54%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 div:nth-of-type(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 div:nth-of-type(3) {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-48%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 div:nth-of-type(1) {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 div:nth-of-type(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 div:nth-of-type(3) {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  main .roomlist {
    width: 90%;
    margin: 80px auto 80px;
  }
  main .roomlist .room_img li {
    width: 50%;
  }
  main .roomlist .room_img li > div {
    left: 350px;
    top: 0;
    width: 70%;
    height: 455px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 25px 0 25px;
  }
  main .roomlist .room_img li > div .hov_text {
    width: 70%;
    display: flex;
    gap: 9px;
  }
  main .roomlist .room_img li > div .hov_text span {
    display: inline-block;
    line-height: 27px;
    font-size: 14px;
    color: #333;
  }
  main .roomlist .room_img li > div .hov_text .hov_left > span {
    display: block;
  }
  main .roomlist .room_img li > div b {
    display: block;
    margin-top: 30px;
    font-family: "NanumSquareBold";
    font-size: 26px;
    color: #555;
  }
  main .roomlist .room_img li.active {
    flex-shrink: 0;
    width: 100%;
  }
  main .roomlist .room_img li:nth-of-type(3) > div .hov_text .hov_left > span {
    white-space: pre-line;
  }
  main .section3 {
    height: auto;
  }
  main .section3 .special {
    width: 90%;
    height: auto;
    padding: 80px 0;
  }
  main .section3 .special .special_con {
    height: auto;
  }
  main .section3 .special .special_con li {
    position: static;
    left: 0;
    top: 0;
    width: 100%;
  }
  main .section3 .special .special_con li .con1_text {
    opacity: 1;
  }
  main .section3 .special .special_con li .con_img {
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin-top: 50px;
  }
  main .section3 .special .special_con li .con_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .section3 .special .special_con li div {
    width: 100%;
  }
  main .section3 .special .special_con li div b {
    margin: 30px 0 23px;
  }
  main .tour {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 80px 0;
  }
  main .tour .tour_slider .tour_top {
    position: relative;
    margin-bottom: 50px;
  }
  main .tour .tour_slider .tour_top .text {
    position: relative;
    left: 0;
    top: 0;
  }
  main .tour .tour_slider .tour_con00 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text {
    width: 100%;
    margin-top: 260px;
  }
  main .tour .tour_slider .tour_con00 .tour-mySwiper {
    width: 100%;
    position: relative;
  }
  main .tour .tour_slider .tour_con00 .tour-mySwiper .swiper-wrapper .swiper-slide {
    height: 100%;
    overflow: hidden;
  }
  main .tour .tour_slider .tour_con00 .tour-mySwiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .tour .tour_slider .tour_con00 .tour-mySwiper .swiper-pagination {
    position: absolute;
    left: 0;
    bottom: 1%;
  }
}
@media (max-width: 767px) {
  .res_all .user_top, .res_all .calender_top, .res_all .reserv03_check_top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 5px 28px;
    background-color: #999F54;
    border-radius: 16px 16px 0 0;
    text-align: center;
  }
  .res_all .user_top h3, .res_all .calender_top h3, .res_all .reserv03_check_top h3 {
    color: #FFF8EB;
    font-weight: normal;
  }
  .res_all .close {
    width: 12px;
    height: 12px;
    background: url(../img/reserv/reserv_X_01.svg) 0 0/cover no-repeat;
  }
  .res_all .reserve_popupbar {
    position: relative;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    display: none;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex {
    display: block;
    align-items: center;
    background-color: #FFF8EB;
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left {
    width: 100%;
    display: block;
    align-items: center;
    background-color: transparent;
    height: auto;
    padding: 30px 5px;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left .room_name {
    position: relative;
    display: flex;
    row-gap: 10px;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left .room_list {
    display: none;
    position: absolute;
    top: -164px;
    left: -12px;
    z-index: 99;
    padding: 10px;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left .room_list p {
    padding: 5px 0;
    font-weight: normal !important;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left .room_list.active {
    display: block;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left .room_name > h3 {
    grid-column: 1/3;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left .room_name > p {
    grid-column: 1/2;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left .room_name > .room_select {
    grid-column: 2/3;
    margin-left: 15px;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left .line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    line-height: 1.8;
    border-right: none;
    padding: 0 10px;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left .line h3 {
    font-size: 14px;
    font-weight: normal;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left .line p {
    font-size: 14px;
    font-weight: bold;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left .adult, .res_all .reserve_popupbar .reserve_popupbar_flex .left .children {
    text-align: start;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .left .children {
    border: none;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .right {
    width: 100%;
    height: auto;
  }
  .res_all .reserve_popupbar .reserve_popupbar_flex .right a {
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 15px 32px;
    color: #333;
    background-color: #F3EAD6;
  }
  .res_all .reserve_popupbar .user {
    display: none;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    width: 250px;
  }
  .res_all .reserve_popupbar .user h3::before {
    content: url(../img/reserv/reserv_uesr_01.svg);
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    margin-right: 40px;
  }
  .res_all .reserve_popupbar .user .plus_btn {
    width: 26px;
    height: 26px;
    background: url(../img/reserv/reserv_icoPlusBtn.svg) 0 0/cover no-repeat;
  }
  .res_all .reserve_popupbar .user .minus_btn {
    width: 26px;
    height: 26px;
    background: url(../img/reserv/reserv_icoMinusBtn.svg) 0 0/cover no-repeat;
  }
  .res_all .reserve_popupbar .user .user_1 {
    border: 1px solid #999F54;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    padding: 20px 33px;
  }
  .res_all .reserve_popupbar .user .user_1 .user_btn {
    text-align: center;
  }
  .res_all .reserve_popupbar .user .user_1 .user_btn a {
    background-color: #ECEBC2;
    border-radius: 20px;
    padding: 13px 27px;
  }
  .res_all .reserve_popupbar .user .user_adult, .res_all .reserve_popupbar .user .user_children {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .res_all .reserve_popupbar .user .user_adult p:nth-of-type(2), .res_all .reserve_popupbar .user .user_children p:nth-of-type(2) {
    font-size: 0.7rem;
  }
  .res_all .reserve_popupbar .user .button_num {
    width: 90px;
    display: flex;
    justify-content: space-between;
  }
  .res_all .reserve_popupbar .user.active {
    display: block;
  }
  .res_all .reserve_popupbar .calender {
    display: none;
    left: 50%;
    top: -56%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .res_all .reserve_popupbar .calender h3::before {
    content: url(../img/reserv/reserv_date_01.svg);
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    margin-right: 124px;
  }
  .res_all .reserve_popupbar .calender.active {
    display: block;
  }
  .res_all .mb_reserv {
    transition: 0.5s;
    display: block;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: fixed;
    right: 3%;
    bottom: 1%;
    z-index: 2;
    transform: translateX(-10%);
  }
  .res_all .mb_reserv span {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 2px;
    box-shadow: 0px 0px 15px 1px #8e8e8e;
  }
  .res_all .mb_reserv span:nth-of-type(1) {
    right: 20px;
    rotate: -45deg;
  }
  .res_all .mb_reserv span:nth-of-type(2) {
    rotate: 45deg;
  }
  .mb_reserv.active {
    transform: translateY(-1000%);
  }
  .mb_reserv.active span:nth-of-type(1) {
    rotate: -45deg;
    right: 0px;
  }
  .mb_reserv.active span:nth-of-type(2) {
    rotate: 45deg;
  }
  .reserve_popupbar.active {
    display: block;
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 {
    font-size: 60px;
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 div:nth-of-type(1) {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-58%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 div:nth-of-type(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title01 div:nth-of-type(3) {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-45%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 {
    font-size: 60px;
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 div:nth-of-type(1) {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-59%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 div:nth-of-type(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title02 div:nth-of-type(3) {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-44%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 {
    font-size: 60px;
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 div:nth-of-type(1) {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-54%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 div:nth-of-type(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title03 div:nth-of-type(3) {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-48%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 {
    font-size: 60px;
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 div:nth-of-type(1) {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 div:nth-of-type(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  main .main_img .swip .mySwiper .swiper-wrapper .swiper-slide .silde-title04 div:nth-of-type(3) {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  main .roomlist {
    width: 90%;
    margin: 80px auto 80px;
  }
  main .roomlist .room_top {
    margin-bottom: 30px;
  }
  main .roomlist .room_top .text {
    width: 80%;
  }
  main .roomlist .room_top .text h3 {
    font-size: 20px;
  }
  main .roomlist .room_top .text p {
    font-size: 14px;
  }
  main .roomlist .room_top .btn {
    width: 20%;
    text-align: right;
  }
  main .roomlist .room_top .btn a {
    font-size: 14px;
  }
  main .roomlist .room_img {
    display: block;
  }
  main .roomlist .room_img li {
    width: 100%;
    margin: 30px 0;
  }
  main .roomlist .room_img li p img {
    width: 100%;
  }
  main .roomlist .room_img li > div {
    position: absolute;
    transition: 0.5s;
    z-index: 2;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 248, 235, 0.9);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 30px 0 30px;
  }
  main .roomlist .room_img li > div .hov_text {
    width: 100%;
    display: flex;
    gap: 12px;
  }
  main .roomlist .room_img li > div .hov_text span {
    font-size: 14px;
    line-height: 26px;
  }
  main .roomlist .room_img li > div b {
    font-size: 26px;
  }
  main .roomlist .room_img li.active {
    flex-shrink: 0;
    width: 100%;
  }
  main .roomlist .room_img li.active > div {
    flex-shrink: 1;
    width: 100%;
    left: 0;
  }
  main .section3 {
    background-color: #FFF8EB;
    height: auto;
  }
  main .section3 .special {
    width: 90%;
    height: auto;
    padding: 80px 0;
  }
  main .section3 .special .special_top {
    margin-bottom: 30px;
  }
  main .section3 .special .special_top .text {
    width: 80%;
  }
  main .section3 .special .special_top .text h3 {
    font-size: 20px;
  }
  main .section3 .special .special_top .text p {
    font-size: 14px;
  }
  main .section3 .special .special_top .btn {
    width: 20%;
    text-align: right;
  }
  main .section3 .special .special_top .btn a {
    font-size: 14px;
  }
  main .section3 .special .special_con {
    height: auto;
  }
  main .section3 .special .special_con li {
    position: static;
    left: 0;
    top: 0;
    width: 100%;
  }
  main .section3 .special .special_con li .con1_text {
    opacity: 1;
  }
  main .section3 .special .special_con li .con_img {
    width: 100%;
    height: 180px;
    overflow: hidden;
    margin-top: 30px;
  }
  main .section3 .special .special_con li .con_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .section3 .special .special_con li div {
    width: 100%;
    opacity: 1;
  }
  main .section3 .special .special_con li div b {
    margin: 20px 0 10px;
    font-size: 16px;
  }
  main .section3 .special .special_con li div p {
    font-size: 14px;
    line-height: 20px;
  }
  main .section3 .special .special_con li div p:nth-of-type(2) {
    margin-top: 15px;
  }
  main .tour {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 80px 0;
  }
  main .tour .tour_slider .tour_top {
    position: relative;
    margin-bottom: 30px;
  }
  main .tour .tour_slider .tour_top .text {
    position: static;
    left: 0;
    top: 0;
  }
  main .tour .tour_slider .tour_top .text h3 {
    font-size: 20px;
  }
  main .tour .tour_slider .tour_top .text p {
    font-size: 14px;
  }
  main .tour .tour_slider .tour_con00 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text {
    width: 100%;
    position: relative;
    margin-top: 220px;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text .tour_content {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(50%);
  }
  main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_text {
    font-size: 14px;
    line-height: 20px;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_tag {
    font-size: 14px;
    margin: 15px 0 20px;
  }
  main .tour .tour_slider .tour_con00 .tour_left_text .tour_content .tour_button {
    font-size: 16px;
    padding: 15px 30px;
  }
  main .tour .tour_slider .tour_con00 .tour-mySwiper {
    width: 100%;
  }
  main .tour .tour_slider .tour_con00 .tour-mySwiper .swiper-wrapper .swiper-slide {
    height: 100%;
    overflow: hidden;
  }
  main .tour .tour_slider .tour_con00 .tour-mySwiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .tour .tour_slider .tour_con00 .tour-mySwiper .swiper-pagination {
    position: absolute;
    left: 0;
    bottom: 1%;
  }
}