// ========================================================================================
// ==========================================another=======================================
// ========================================================================================
@media (min-width:1025px) and (max-width:1500px){
    //팝업창 top 스타일
    .user_top, .calender_top, .reserv03_check_top, .room_select_top{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        padding: 5px 28px ;
        background-color: #999F54;
        border-radius: 16px 16px 0 0 ;
        text-align: center;
        h3{
            color: #FFF8EB;
            font-weight: normal;
        }
        }
        //팝업창 닫기 버튼
        .close{
        width: 12px; height: 12px;
        background : url(../img/reserv/reserv_X_01.svg) 0 0 / cover no-repeat;
        }
        //예약하기 바
    .reserve_popupbar{
        position: relative;
        position: fixed;
        right: 0; bottom: 0;
        z-index: 2;
        // width: 100%;
        margin: 0 auto;
        .reserve_popupbar_flex{
            display: flex;
            justify-content: center;
            align-items: center;
            // height: 118px;
            .left{
                display: flex;
                align-items: center;
                background-color: #fff;
                height: 100px;
                //룸 선택
                .room_name{
                    position: relative;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto auto;
                    align-items: center;
                }
                .room_list{
                    display: none;
                    position: absolute;
                    top: -225px;
                    left: -12px;
                    z-index: 99;
                    padding: 10px;
                    p{
                        padding: 5px 0;
                        font-weight: normal !important;}
                }
                .room_list.active{display: block;}
                .room_name>h3{grid-column: 1 / 3;}
                .room_name>p{grid-column: 1 / 2;}
                .room_name>.room_select{
                    grid-column: 2 / 3;
                    margin-left: 15px;
                }
                .line{
                    border-right: 1px solid #6f6f6f;
                    padding: 0 26px;
                    h3{ 
                        font-size: 14px;
                        font-weight: normal;
                    }
                    p{
                        font-size: 1.25rem;
                        font-weight: bold;
                    }
                    .room_select{
                        width: 11px; height: 6px;
                        background: url(../img/reserv/reserv_drop.svg) 0 0 / cover no-repeat;
                    }
                }
                .adult, .children{
                    text-align: center;
                }
                .children{
                    border: none;
                }
            }
            .right{
                height: 100px;
                a{
                    height: 100%;
                    display: block;
                    font-size: 1.4rem;
                    padding: 33.2px 65px;
                    color: #333;
                    background-color: #F3EAD6;
                }
            }
        }
        //인원선택
        .user{
            display: none;
            position: absolute;
            left: 698px;
            bottom: 108px;
            width: 250px;
            z-index: 1;
            h3::before{
                content: url(../img/reserv/reserv_uesr_01.svg);
                display: inline-block;
                font-size: 0px;
                vertical-align: middle;
                margin-right: 36px;
            }
            .plus_btn{
                width: 26px; height: 26px;
                background : url(../img/reserv/reserv_icoPlusBtn.svg) 0 0 / cover no-repeat;
            }   
            .minus_btn{
                width: 26px; height: 26px;
                background : url(../img/reserv/reserv_icoMinusBtn.svg) 0 0 / cover no-repeat;
            }
            .user_1{
                border:1px solid #999F54;
                border-radius: 0 0 16px 16px;
                background-color: #fff;
                padding: 20px 33px;
                .user_btn{
                    text-align: center;
                    a{
                        background-color: #ECEBC2;
                        border-radius: 20px;
                        padding: 13px 27px;
                    }
                }
            }
            .user_adult, .user_children{
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                p:nth-of-type(2){
                    font-size: 0.7rem;
                }
            }
            .button_num{
                width: 90px;
                display: flex;
                justify-content: space-between;
            }
        }
        .user.active{
            display: block;
        }
        //날짜선택
        .calender{
            display: none;
            position: absolute;
            left: 26%;
            bottom: 109px;
            width: 500px;
            z-index: 1;
            h3::before{
                content: url(../img/reserv/reserv_date_01.svg);
                display: inline-block;
                font-size: 0px;
                vertical-align: middle;
                margin-right: 170px;
            }
            .calender_flex{
                border:1px solid #999F54;
                border-radius: 0 0 16px 16px;
                background-color: #fff;
                padding: 20px 33px;
            }
        }
        .calender.active{
            display: block;
        }
        }



        
    main{
        .roomlist{
            width: 90%;
            margin: 200px auto 100px;
            .room_img{
                li{
                    width:50%;
                    >div{
                        left: 350px; top: 0;
                        width: 70%; height: 455px;
                        padding: 0 40px 0 40px;
                        .hov_text{
                            width: 90%;
                            display: flex;
                            gap: 12px;
                        }
                    }
                }
                li.active{
                    // flex-grow: 10;
                    flex-shrink: 0;
                    width: 100%;
                }
            }
        }
        .section3{
            .special{
                width: 90%;
                .special_con{
                    li{
                        .con_img{
                            width: 100%;
                            height: auto;
                        }
                        div{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .tour{
            width: 90%;
            .tour_slider{
                .tour_top{
                    position: relative;
                    .text{
                        position: absolute;
                        left: 0; top: 0;
                    }
                }
                .tour_con00{
                    .tour_left_text{
                        width: 45%;
                        .tour_content{
                            position: absolute;
                            left: 0; bottom: 0;
                            opacity: 0;
                            transform: translateY(50%);
                            transition: opacity 0.5s ease-out, transform 0.5s ease-out;
                            .tour_title{
                                display: block;
                                font-family: 'NanumSquareBold';
                                font-size: 20px;
                                color: #566418;
                                margin-bottom: 20px;
                            }
                            .tour_text{
                                line-height: 28px;
                                img{width: 12px;}
                            }
                            .tour_tag{margin: 15px 0 20px;}
                            .tour_button{
                                display: inline-block;
                                font-family: 'NanumSquareBold';
                                font-size: 20px;
                                color: #333;
                                padding: 18px 40px;
                                background-color: #ECEBC2;
                            }
                        }
                        .t_con0{
                            opacity: 1;
                            transform: translateY(0);
                            display: block;
                        }
                    }
                    .tour-mySwiper{
                        width: 55%;
                        .swiper-wrapper{
                            .swiper-slide{
                                // width: 768px;
                                height: auto;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// ========================================================================================
// ==========================================ipad==========================================
// ========================================================================================
@media (min-width:768px) and (max-width:1024px){
    // .reserv{
    //     width: 100%;
    //     .reserv_left{
    //         width: 80%;
    //         height: 90px;
    //         div{
    //             p:nth-of-type(2){
    //                 font-size: 16px;
    //             }
    //         }
    //         .adult{text-align: center;}
    //         .children{text-align: center; border: none;}
    //     }
    //     .reserv_rig{
    //         width: 20%;
    //         height: 90px;
    //         a{
    //             padding: 34px 30px;
    //             font-size: 20px;
    //             text-align: center;
    //         }
    //     }
    // }

    //팝업창 top 스타일
    .user_top, .calender_top, .reserv03_check_top{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        padding: 5px 28px ;
        background-color: #999F54;
        border-radius: 16px 16px 0 0 ;
        text-align: center;
        h3{
            color: #FFF8EB;
            font-weight: normal;
        }
    }
    //팝업창 닫기 버튼
    .close{
        width: 12px; height: 12px;
        background : url(../img/reserv/reserv_X_01.svg) 0 0 / cover no-repeat;
    }

    //예약하기 바
    .reserve_popupbar{
        position: relative;
        position: fixed;
        right: 0; bottom: 0;
        z-index: 2;
        // width: 100%;
        margin: 0 auto;
        .reserve_popupbar_flex{
            display: flex;
            justify-content: center;
            align-items: center;
            // height: 118px;
            .left{
                display: flex;
                align-items: center;
                background-color: #fff;
                height: 100px;
                //룸 선택
                .room_name{
                    position: relative;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto auto;
                    align-items: center;
                }
                .room_list{
                    display: none;
                    position: absolute;
                    top: -204px;
                    left: -12px;
                    background-color: #fff;
                    padding: 10px;
                    p{
                        padding: 5px 0;
                        font-weight: normal !important;}
                }
                .room_list.active{display: block;}
                .room_name>h3{grid-column: 1 / 3;}
                .room_name>p{grid-column: 1 / 2;}
                .room_name>.room_select{
                    grid-column: 2 / 3;
                    margin-left: 15px;
                }
                .line{
                    border-right: 1px solid #6f6f6f;
                    padding: 0 35px;
                    h3{ 
                        font-size: 0.875rem;
                        font-weight: normal;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: bold;
                    }
                    .room_select{
                        width: 11px; height: 6px;
                        background: url(../img/reserv/reserv_drop.svg) 0 0 / cover no-repeat;
                    }
                }
                .adult, .children{
                    text-align: center;
                }
                .children{
                    border: none;
                }
            }
            .right{
                height: 100px;
                a{
                    display: block;
                    font-size: 1rem;
                    padding: 38px 49px;
                    color: #333;
                    background-color: #F3EAD6;
                }
            }
        }
        //인원선택
        .user{
            display: none;
            position: absolute;
            left: 477px;
            bottom: 109px;
            width: 250px;
            z-index: 1;
            h3::before{
                content: url(../img/reserv/reserv_uesr_01.svg);
                display: inline-block;
                font-size: 0px;
                vertical-align: middle;
                margin-right: 36px;
            }
            .plus_btn{
                width: 26px; height: 26px;
                background : url(../img/reserv/reserv_icoPlusBtn.svg) 0 0 / cover no-repeat;
            }   
            .minus_btn{
                width: 26px; height: 26px;
                background : url(../img/reserv/reserv_icoMinusBtn.svg) 0 0 / cover no-repeat;
            }
            .user_1{
                border:1px solid #999F54;
                border-radius: 0 0 16px 16px;
                background-color: #fff;
                padding: 20px 33px;
                .user_btn{
                    text-align: center;
                    a{
                        background-color: #ECEBC2;
                        border-radius: 20px;
                        padding: 13px 27px;
                    }
                }
            }
            .user_adult, .user_children{
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                p:nth-of-type(2){
                    font-size: 0.7rem;
                }
            }
            .button_num{
                width: 90px;
                display: flex;
                justify-content: space-between;
            }
        }
        .user.active{
            display: block;
        }
        //날짜선택
        .calender{
            display: none;
            position: absolute;
            left: 179px;
            bottom: 109px;
            width: 522px;
            z-index: 1;
            h3::before{
                content: url(../img/reserv/reserv_date_01.svg);
                display: inline-block;
                font-size: 0px;
                vertical-align: middle;
                margin-right: 180px;
            }
        }
        .calender.active{
            display: block;
        }
    }


    main{
        .main_img{
            .swip{
                .mySwiper{
                    .swiper-wrapper{
                        .swiper-slide{
                            .silde-title01{
                                div:nth-of-type(1){
                                    position: absolute;
                                    left: 50%;
                                    top: 40%;
                                    transform: translate(-58%, -50%);
                                }
                                div:nth-of-type(2){
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                div:nth-of-type(3){
                                    position: absolute;
                                    left: 50%;
                                    top: 60%;
                                    transform: translate(-53%, -50%);
                                }
                            }
                            .silde-title02{
                                div:nth-of-type(1){
                                    position: absolute;
                                    left: 50%;
                                    top: 40%;
                                    transform: translate(-59%, -50%);
                                }
                                div:nth-of-type(2){
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                div:nth-of-type(3){
                                    position: absolute;
                                    left: 50%;
                                    top: 60%;
                                    transform: translate(-44%, -50%);
                                }
                            }
                            .silde-title03{
                                div:nth-of-type(1){
                                    position: absolute;
                                    left: 50%;
                                    top: 40%;
                                    transform: translate(-54%, -50%);
                                }
                                div:nth-of-type(2){
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                div:nth-of-type(3){
                                    position: absolute;
                                    left: 50%;
                                    top: 60%;
                                    transform: translate(-48%, -50%);
                                }
                            }
                            .silde-title04{
                                div:nth-of-type(1){
                                    position: absolute;
                                    left: 50%;
                                    top: 40%;
                                    transform: translate(-50%, -50%);
                                }
                                div:nth-of-type(2){
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                div:nth-of-type(3){
                                    position: absolute;
                                    left: 50%;
                                    top: 60%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }    
                    }
                }
            }
            
        }
        .roomlist{
            width: 90%;
            margin: 80px auto 80px;
            .room_img{
                li{
                    width:50%;
                    >div{
                        left: 350px; top: 0;
                        width: 70%; height: 455px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        padding: 0 25px 0 25px;
                        .hov_text{
                            width: 70%;
                            display: flex;
                            gap: 9px;
                            span{
                                display: inline-block;
                                line-height: 27px;
                                font-size: 14px;
                                color: #333;
                            }
                            .hov_left>span{
                                display: block;
                            }
                        }
                        b{
                            display: block;
                            margin-top: 30px;
                            font-family: 'NanumSquareBold';
                            font-size: 26px;
                            color: #555;
                        }
                    }
                }
                li.active{
                    // flex-grow: 10;
                    flex-shrink: 0;
                    width: 100%;
                }
                li:nth-of-type(3){
                    >div{
                        .hov_text{
                            .hov_left>span{
                                white-space: pre-line;
                            }
                        }
                    }
                }
            }
        }
        .section3{
            height:auto;
            .special{
                width: 90%;
                height: auto;
                padding: 80px 0;
                .special_con{
                    height: auto;
                    li{
                        position: static;
                        left: 0; top: 0;
                        width: 100%;
                        .con1_text{
                            opacity: 1;
                        }
                        .con_img{
                            width: 100%;
                            height: 450px;
                            overflow: hidden;
                            margin-top: 50px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        div{
                            width: 100%;
                            b{
                                margin: 30px 0 23px;
                            }
                        }
                    }
                }
            }
        }
        .tour{
            width: 90%;
            height: auto;
            margin: 0 auto;
            padding: 80px 0;
            .tour_slider{
                .tour_top{
                    position: relative;
                    margin-bottom: 50px;
                    .text{
                        position: relative;
                        left: 0; top: 0;
                    }
                }
                .tour_con00{
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: space-between;
                    align-items: flex-start;
                    .tour_left_text{
                        width: 100%;
                        margin-top: 260px;
                    }
                    .tour-mySwiper{
                        width: 100%;
                        position: relative;
                        .swiper-wrapper{
                            .swiper-slide{
                                height: 100%;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    // height: 50%;
                                    object-fit: cover;
                                }
                            }
                        }
                        .swiper-pagination{
                            position: absolute;
                            left: 0; bottom: 1%;
                        }
                    }
                }
            }
        }
    }
}



// ========================================================================================
// ==========================================phone=========================================
// ========================================================================================
@media (max-width:767px){
    .res_all{
        // .reserv{
        //     width: 100%;
        //     position: fixed;
        //     right: 0; bottom: 0;
        //     z-index: 2;
        //     display: none;
        //     justify-content: end;
        //     align-items: center;
        //     .reserv_left{
        //         width: 100%;
        //         height: 100%;
        //         display: block;
        //         justify-content: center;
        //         align-items: center;
        //         background-color: #FFF8EB;
        //         padding: 30px 0;
        //         div{
        //             display: flex;
        //             justify-content: space-between;
        //             border-right: none;
        //             padding: 8px 30px;
        //             p:nth-of-type(1){
        //                 font-size: 14px;
        //                 color: #555;
        //             }
        //             p:nth-of-type(2){
        //                 font-size: 14px;
        //                 font-family: 'NanumSquareBold';
        //                 color: #333;
        //                 text-align: end;
        //             }
        //         }
        //         .adult{text-align: end;}
        //         .children{text-align: end; border: none;}
        //     }
        //     .reserv_rig{
        //         height: auto;
        //         a{
        //             background-color: #F3EAD6;
        //             padding: 15px 32px;
        //             font-size: 15px;
        //             font-family: 'NanumSquareBold';
        //             display: block;
        //             text-align: center;
        //         }
        //     }
        // }
    //팝업창 top 스타일
    .user_top, .calender_top, .reserv03_check_top{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        padding: 5px 28px ;
        background-color: #999F54;
        border-radius: 16px 16px 0 0 ;
        text-align: center;
        h3{
            color: #FFF8EB;
            font-weight: normal;
        }
    }
    //팝업창 닫기 버튼
    .close{
        width: 12px; height: 12px;
        background : url(../img/reserv/reserv_X_01.svg) 0 0 / cover no-repeat;
    }

    //예약하기 바
    .reserve_popupbar{
        position: relative;
        position: fixed;
        right: 0; bottom: 0;
        z-index: 2;
        width: 100%;
        margin: 0 auto;
        display: none;
        .reserve_popupbar_flex{
            display: block;
            align-items: center;
            background-color: #FFF8EB;
            width: 100%;
            flex-direction: column;
            height: auto;
            .left{
                width: 100%;
                display: block;
                align-items: center;
                background-color: transparent;
                height: auto;
                padding: 30px 5px;
                 //룸 선택
                .room_name{
                    position: relative;
                    display: flex;
                    row-gap: 10px;
                }
                .room_list{
                    display: none;
                    position: absolute;
                    top: -164px;
                    left: -12px;
                    z-index: 99;
                    padding: 10px;
                    p{
                        padding: 5px 0;
                        font-weight: normal !important;}
                }
                .room_list.active{display: block;}
                .room_name>h3{grid-column: 1 / 3;}
                .room_name>p{grid-column: 1 / 2;}
                .room_name>.room_select{
                    grid-column: 2 / 3;
                    margin-left: 15px;
                }
                .line{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 12px;
                    line-height: 1.8;
                    h3{ 
                        font-size: 14px;
                        font-weight: normal;
                    }
                    p{
                        font-size: 14px;
                        font-weight: bold;
                    }
                    border-right: none;
                    padding: 0 10px;
                }
                .adult, .children{
                    text-align: start;
                }
                .children{
                    border: none;
                }
            }
            .right{
                width: 100%;
                height: auto;
                a{
                    display: block;
                    text-align: center;
                    font-size: 15px;
                    padding: 15px 32px;
                    color: #333;
                    background-color: #F3EAD6;
                }
            }
        }
        //인원선택 팝업창
        .user{
            display: none;
            position: absolute;
            left: 50%; top: 15%;
            transform: translate(-50%, -50%);
            width: 250px;
            h3::before{
                content: url(../img/reserv/reserv_uesr_01.svg);
                display: inline-block;
                font-size: 0px;
                vertical-align: middle;
                margin-right: 40px;
            }
            .plus_btn{
                width: 26px; height: 26px;
                background : url(../img/reserv/reserv_icoPlusBtn.svg) 0 0 / cover no-repeat;
            }   
            .minus_btn{
                width: 26px; height: 26px;
                background : url(../img/reserv/reserv_icoMinusBtn.svg) 0 0 / cover no-repeat;
            }
            .user_1{
                border:1px solid #999F54;
                border-radius: 0 0 16px 16px;
                background-color: #fff;
                padding: 20px 33px;
                .user_btn{
                    text-align: center;
                    a{
                        background-color: #ECEBC2;
                        border-radius: 20px;
                        padding: 13px 27px;
                    }
                }
            }
            .user_adult, .user_children{
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                p:nth-of-type(2){
                    font-size: 0.7rem;
                }
            }
            .button_num{
                width: 90px;
                display: flex;
                justify-content: space-between;
            }
        }
        .user.active{
            display: block;
        }
        //날짜선택 팝업창
        .calender{
            display: none;
            left: 50%; top: -56%;
            transform: translate(-50%, -50%);
            width: 100%;
            h3::before{
                content: url(../img/reserv/reserv_date_01.svg);
                display: inline-block;
                font-size: 0px;
                vertical-align: middle;
                margin-right: 124px;
            }
        }
        .calender.active{
            display: block;
        }
    }
        .mb_reserv{
            transition: 0.5s;
            display: block;
            width: 30px;
            height: 25px;
            cursor: pointer;
            position: fixed;
            right: 3%;
            bottom: 1%;
            z-index: 2;
            transform: translateX(-10%);
            span{
                position: absolute;
                display: inline-block;
                background-color: white;
                width: 100%;
                height: 2px;
                box-shadow: 0px 0px 15px 1px #8e8e8e;
            }
            span:nth-of-type(1){
                right: 20px;
                rotate: -45deg;
            }
            span:nth-of-type(2){rotate: 45deg;}
        }
    }
    .mb_reserv.active{
        span:nth-of-type(1){rotate: -45deg; right: 0px;}
        span:nth-of-type(2){rotate: 45deg;}
        transform: translateY(-1000%);
    }
    .reserve_popupbar.active{display: block;}
    main{
        .main_img{
            .swip{
                .mySwiper{
                    .swiper-wrapper{
                        .swiper-slide{
                            .silde-title01{
                                font-size: 60px;
                                div:nth-of-type(1){
                                    position: absolute;
                                    left: 50%;
                                    top: 40%;
                                    transform: translate(-58%, -50%);
                                }
                                div:nth-of-type(2){
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                div:nth-of-type(3){
                                    position: absolute;
                                    left: 50%;
                                    top: 60%;
                                    transform: translate(-45%, -50%);
                                }
                            }
                            .silde-title02{
                                font-size: 60px;
                                div:nth-of-type(1){
                                    position: absolute;
                                    left: 50%;
                                    top: 40%;
                                    transform: translate(-59%, -50%);
                                }
                                div:nth-of-type(2){
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                div:nth-of-type(3){
                                    position: absolute;
                                    left: 50%;
                                    top: 60%;
                                    transform: translate(-44%, -50%);
                                }
                            }
                            .silde-title03{
                                font-size: 60px;
                                div:nth-of-type(1){
                                    position: absolute;
                                    left: 50%;
                                    top: 40%;
                                    transform: translate(-54%, -50%);
                                }
                                div:nth-of-type(2){
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                div:nth-of-type(3){
                                    position: absolute;
                                    left: 50%;
                                    top: 60%;
                                    transform: translate(-48%, -50%);
                                }
                            }
                            .silde-title04{
                                font-size: 60px;
                                div:nth-of-type(1){
                                    position: absolute;
                                    left: 50%;
                                    top: 40%;
                                    transform: translate(-50%, -50%);
                                }
                                div:nth-of-type(2){
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                div:nth-of-type(3){
                                    position: absolute;
                                    left: 50%;
                                    top: 60%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }    
                    }
                }
            }
        }
        .roomlist{
            width: 90%;
            margin: 80px auto 80px;
            .room_top{
                margin-bottom: 30px;
                .text{
                    width: 80%;
                    h3{
                        font-size: 20px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                .btn{
                    width: 20%;
                    text-align: right;
                    a{
                        font-size: 14px;
                    }
                }
            }
            .room_img{
                display: block;
                li{
                    width:100%;
                    margin: 30px 0;
                    p{
                        img{
                            width: 100%;
                        }
                    }
                    >div{
                        position: absolute;
                        transition: 0.5s;
                        z-index: 2;
                        left: 100%; top: 0;
                        width: 100%; height: 100%;
                        background-color: rgba(255, 248, 235, 0.90);
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        padding: 0 30px 0 30px;
                        .hov_text{
                            width: 100%;
                            display: flex;
                            gap: 12px;
                            span{
                                font-size: 14px;
                                line-height: 26px;
                            }
                        }
                        b{
                            font-size: 26px;
                        }
                    }
                }
                li.active{
                    flex-shrink: 0;
                    width: 100%;
                }
                li.active>div{
                    flex-shrink: 1;
                    width: 100%;
                    left: 0;
                }
            }
        }
        .section3{
            background-color: #FFF8EB;
            height:auto;
            .special{
                width: 90%;
                height: auto;
                padding: 80px 0;
                .special_top{
                    margin-bottom: 30px;
                    .text{
                        width: 80%;
                        h3{
                            font-size: 20px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                    .btn{
                        width: 20%;
                        text-align: right;
                        a{
                            font-size: 14px;
                        }
                    }
                }
                .special_con{
                    height: auto;
                    li{
                        position: static;
                        left: 0; top: 0;
                        width: 100%;
                        .con1_text{
                            opacity: 1;
                        }
                        .con_img{
                            width: 100%;
                            height: 180px;
                            overflow: hidden;
                            margin-top: 30px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        div{
                            width: 100%;
                            opacity: 1;
                            b{
                                margin: 20px 0 10px;
                                font-size: 16px;
                            }
                            p{
                                font-size: 14px;
                                line-height: 20px;
                            }
                            p:nth-of-type(2){
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
        .tour{
            width: 90%;
            height: auto;
            margin: 0 auto;
            padding: 80px 0;
            .tour_slider{
                .tour_top{
                    position: relative;
                    margin-bottom: 30px;
                    .text{
                        position: static;
                        left: 0; top: 0;
                        h3{
                            font-size: 20px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
                .tour_con00{
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: space-between;
                    align-items: flex-start;
                    .tour_left_text{
                        width: 100%;
                        position: relative;
                        margin-top: 220px;
                        .tour_content{
                            position: absolute;
                            left: 0; bottom: 0;
                            opacity: 0;
                            transform: translateY(50%);
                            .tour_title{
                                font-size: 16px;
                                margin-bottom: 15px;
                            }
                            .tour_text{
                                font-size: 14px;
                                line-height: 20px;
                            }
                            .tour_tag{
                                font-size: 14px;
                                margin: 15px 0 20px;
                            }
                            .tour_button{
                                font-size: 16px;
                                padding: 15px 30px;
                            }
                        }
                    }
                    .tour-mySwiper{
                        width: 100%;
                        .swiper-wrapper{
                            .swiper-slide{
                                height: 100%;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                        .swiper-pagination{
                            position: absolute;
                            left: 0; bottom: 1%;
                        }
                    }
                }
            }
        }
    }
}
