@import './_common';

.banner{
    width: 100%;
    margin: 0 auto 0px;
    position: relative;
    color: #FFFFFF;
    text-align: center;
    p{
        img {
        width: 100%; height: 100%;
        }
    }
    .banner_text{
        text-align: center;
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        h2{
            display: flex;
            justify-content: center;
            font-family: 'HakgyoansimDunggeunmisoTTF-B';
            font-size: 2.8rem;
            span{
                opacity: 0;
                animation: blink 0.5s 1 alternate forwards;
            }

            @keyframes blink {
                0% { opacity: 0; }
                100% { opacity: 1; }
            }
        }
        b{
            font-weight: normal;
            span{
                opacity: 0;
                animation: blink 2s 1 alternate forwards;
            }
        }
    }
} 
.center{
    padding: 200px 0;
    background-color: #FFF8EB;
    .view-wrap{
        width:1400px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            &:nth-of-type(1){
                width:60%;
                img{width:100%;border-radius: 0 15px 15px 0;}
            }
            &:nth-of-type(2){
                width:34%;
                p{
                    font-size: 60px;
                    color: #999F54;
                    font-family: 'Baloo Bhaijaan 2';
                        font-weight: 500;
                    margin: 0 0 32px;
                    line-height: 1;
                }
                p small{
                    font-size: 35px;
                    color: #ECEBC2;
                    font-family: 'Baloo Bhaijaan 2';
                    font-weight: 500;
                }
                span{
                    font-size: 20px;
                    color: #555555;
                    font-weight: bold;
                }
            }
        }
    }
}

.bottom{
    width:1400px; margin:0px auto;
    article{
        height: 930px;
        h2{
            color: #A66D45;
            font-size: 24px;
            font-family: 'HakgyoansimDunggeunmisoTTF-B';
            padding: 200px 0 50px 0;
        }
        .tab-head{
            font-family: 'inter Regular';
            display: flex;
            button{
                border: 1px solid #ECEBC2;
                padding: 16px 0px;
                width:50%;
                background-color: #ECEBC2;
                text-decoration: none;
                color: #999F54;
                font-family: 'NanumSquare';
                font-size: 20px;
                &:nth-of-type(1){border-radius: 15px 0 0 0;}
                &:nth-of-type(2){border-radius: 0 15px 0 0;}
                &.active{
                    border: 1px solid #999F54;
                    background-color: #999F54;
                    color: #ECEBC2;
                    font-weight: bold;
                }
            }
        }
        .tab-body{
            position: relative;
            .map{
                display: none;
                width:100%;
                height:564px;
                position: absolute;
                left: 0; top: 0;
                background-color: #eee;
                border: 1px solid #999F54;
                img{width:100%; height: 99.9%;}
                &.active{display: block;}
            }
        }   
    }
}
.bottom-text{
    display: flex;
    margin-bottom: 200px;
    ul{
        list-style: none;
        color: #555555;
        font-family: "NanumSquare Regular";
        width: 50%;
        font-size: 16px;
    li{padding: 10px 0;}
    }
}

@import './res-intro'

